<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <style>
body {
    background-image: url("https://storage.googleapis.com/pinkpolygon/Munal_Monks_Globe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 200px;
    background-size: cover;
}
</style>
<!-- ****** faviconit.com favicons ****** -->
        <link rel="shortcut icon" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-16.png">
        <link rel="apple-touch-icon" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/pinkpolygon/favicons/favicon-180.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="https://storage.googleapis.com/pinkpolygon/favicons/favicon-144.png">
        <meta name="msapplication-config" content="https://storage.googleapis.com/pinkpolygon/favicons/browserconfig.xml">
        <!-- ****** faviconit.com favicons ****** -->


  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:codeblog@pinkpolygon.com">email</a></li>
   <li><a href="https://github.com/xpat">github.com/xpat</a></li>
   </ul>
  </footer>
  </body>

</html>
